header {
  height: 68px;
  background-color: black;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding-left: 65px;
  padding-top: 15px;
}

.logo {
  width: 92.5px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.navLink {
  color: #e5e5e5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
}

.navLink:hover {
  color:#a8a8a8
}
