header {
  height: 68px;
  background-color: black;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding-left: 65px;
  padding-top: 15px;
}

.logo {
  width: 10rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.navLink {
  color: #e5e5e5;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
}

.navLink:hover {
  color:#a8a8a8
}

.search{
  position: absolute;
  right: 65px;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  cursor: pointer;
  gap: 10px;
}

.buscador{
  width: 300px;
  height: 35px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-size: 1.5rem;
}
